.popup__button-save {
    padding: 14px 124px 18px 125px;
    font-size: 18px;
    line-height: 21,78px;
    font-weight: 400;
    margin: 0;
}

@media (min-width: 320px) and (max-width: 740px)  {
    .popup__button-save {
        padding: 14px 82px;
        font-size: 14px;
        line-height: 17px;
    }
}